<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weathearl.png">
</head>

<body>

    <div class="main-content">
        {{>header}}
        <p>This site was created by John Earlvyn Orillosa. It uses data from weatherstack.com and mapbox.com!</p>
        <img class="portrait" src="/img/malupiton.jpg">
        <p>{{Helptext}}</p>

    </div>

    {{>footer}}

</body>


</html>